In [121]:
!pip install h2o

Requirement already satisfied: h2o in /usr/local/lib/python3.7/dist-packages (3.36.1.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)

In [125]:
# import modules
import h2o
# import autoML from H2O
from h2o.automl import H2OAutoML

# We will be using default parameter Here with H2O init method
h2o.init()


def train_model(dataset, max_runtime_secs=180, stopping_metric="logloss", sort_metric="logloss", balance_classes=False):
    # convert pandas DataFrame into H2O Frame
    dataset = dataset.astype(str)
    dataset = h2o.H2OFrame(dataset)

    # selecting feature and label columns
    x = dataset.columns
    y = 'FraudFound_P'

    # remove label class variable from feature variable
    x.remove(y)

    # convert to categorical variable for classification
    dataset[y] = dataset[y].asfactor()

    # call h20automl  function
    model = H2OAutoML(max_runtime_secs=max_runtime_secs,
                      # exclude_algos =['DeepLearning'],
                      seed=1,
                      stopping_metric=stopping_metric,
                      sort_metric=sort_metric,
                      balance_classes=balance_classes)

    # train model and record time % time
    model.train(x=x, y=y, training_frame=dataset)

    print("Model Training completed")

    # return the model
    return model


def view_leaderboard(model):
    # View the H2O aml leaderboard
    lb = model.leaderboard

    # return all rows instead of 10 rows
    return lb.head(rows=lb.nrows)


def get_best_model(model):
    # Get the top model of leaderboard
    return model.leader


def save_model(model):
    return model.leader.download_mojo(path="./")


def make_predictions(dataset, path):
    # get the saved model
    imported_model = h2o.import_mojo(path)

    # convert pandas DataFrame into H2O Frame
    dataset = dataset.astype(str)
    dataset = h2o.H2OFrame(dataset)

    return int(pd.DataFrame(imported_model.predict(dataset)).iloc[0, 0])

# Press the green button in the gutter to run the script.
if __name__ == '__main__':
    print('model build with automl')

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ----------------------------------
H2O_cluster_uptime:         4 hours 22 mins
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    17 hours and 37 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_wq4u6y
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.667 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

model build with automl

In [126]:
import pandas as pd
from sklearn.model_selection import train_test_split
#import h20_auto_ml

# get dataset
df = pd.read_csv('input_dataset.csv')

# split to train and test
train, test = train_test_split(df, test_size=0.2)

# train the model (and return the best model)
model = train_model(train)

# save the model
path = save_model(model)

# view the leaderboard
#h20_auto_ml.view_leaderboard(model)

# get the best model
#best_model = h20_auto_ml.get_best_model(model)

# load the saved model, make predictions with test dataset
test = test.head(1).drop(columns=["FraudFound_P"])
predicted_outcome = make_predictions(test, path)
predicted_outcome

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Training completed
generic Model Build progress: |██████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1649911591249_24071

No model summary for this model

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 0.0028745717461208155
RMSE: 0.05361503283707673
LogLoss: 0.024439482011130026
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.7147386600724938:

               0      1 Error            Rate
0      0  9462.0    0.0   0.0    (0.0/9462.0)
1      1     0.0  591.0   0.0     (0.0/591.0)
2  Total  9462.0  591.0   0.0   (0.0/10053.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.714739     1.000000  104.0
1                        max f2   0.714739     1.000000  104.0
2                  max f0point5   0.714739     1.000000  104.0
3                  max accuracy   0.714739     1.000000  104.0
4                 max precision   0.995683     1.000000    0.0
5                    max recall   0.714739     1.000000  104.0
6               max specificity   0.995683     1.000000    0.0
7              max absolute_mcc   0.714739     1.000000  104.0
8    max min_per_class_accuracy   0.714739     1.000000  104.0
9   max mean_per_class_accuracy   0.714739     1.000000  104.0
10                      max tns   0.995683  9462.000000    0.0
11                      max fns   0.995683   589.000000    0.0
12                      max fps   0.000184  9462.000000  399.0
13                      max tps   0.714739   591.000000  104.0
14                      max tnr   0.995683     1.000000    0.0
15                      max fnr   0.995683     0.996616    0.0
16                      max fpr   0.000184     1.000000  399.0
17                      max tpr   0.714739     1.000000  104.0

Gains/Lift Table: Avg response rate:  5.88 %, avg score:  7.44 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010047,0.975267,17.010152,17.010152,1.00000,0.982866,1.000000,0.982866,0.170897,0.170897,1601.015228,1601.015228,0.170897
1,2,0.020094,0.962129,17.010152,17.010152,1.00000,0.969130,1.000000,0.975998,0.170897,0.341794,1601.015228,1601.015228,0.341794
2,3,0.030041,0.948924,17.010152,17.010152,1.00000,0.955423,1.000000,0.969185,0.169205,0.510998,1601.015228,1601.015228,0.510998
3,4,0.040088,0.929887,17.010152,17.010152,1.00000,0.939146,1.000000,0.961656,0.170897,0.681895,1601.015228,1601.015228,0.681895
4,5,0.050035,0.902506,17.010152,17.010152,1.00000,0.917193,1.000000,0.952817,0.169205,0.851100,1601.015228,1601.015228,0.851100
5,6,0.100070,0.118007,2.975931,9.993042,0.17495,0.320703,0.587475,0.636760,0.148900,1.000000,197.593121,899.304175,0.956140
6,7,0.150005,0.057124,0.000000,6.666446,0.00000,0.082375,0.391910,0.452210,0.000000,1.000000,-100.000000,566.644562,0.903086
7,8,0.200040,0.034245,0.000000,4.999005,0.00000,0.044202,0.293884,0.350157,0.000000,1.000000,-100.000000,399.900547,0.849926
8,9,0.300010,0.015565,0.000000,3.333223,0.00000,0.023398,0.195955,0.241274,0.000000,1.000000,-100.000000,233.322281,0.743712
9,10,0.399980,0.007387,0.000000,2.500124,0.00000,0.011082,0.146978,0.183740,0.000000,1.000000,-100.000000,150.012435,0.637497
10,11,0.500050,0.003035,0.000000,1.999801,0.00000,0.004989,0.117565,0.147968,0.000000,1.000000,-100.000000,99.980107,0.531177
11,12,0.600020,0.001464,0.000000,1.666611,0.00000,0.002111,0.097977,0.123667,0.000000,1.000000,-100.000000,66.661141,0.424963
12,13,0.699990,0.000823,0.000000,1.428592,0.00000,0.001089,0.083985,0.106161,0.000000,1.000000,-100.000000,42.859173,0.318749
13,14,0.799960,0.000519,0.000000,1.250062,0.00000,0.000658,0.073489,0.092976,0.000000,1.000000,-100.000000,25.006217,0.212534
14,15,0.899930,0.000327,0.000000,1.111197,0.00000,0.000421,0.065326,0.082695,0.000000,1.000000,-100.000000,11.119708,0.106320
15,16,1.000000,0.000058,0.000000,1.000000,0.00000,0.000230,0.058788,0.074442,0.000000,1.000000,-100.000000,0.000000,0.000000

ModelMetricsBinomialGeneric: generic
** Reported on cross-validation data. **

MSE: 0.033747123949699476
RMSE: 0.18370390292451458
LogLoss: 0.11683951157204443
Mean Per-Class Error: 0.20911511165210955
AUC: 0.9473472687884246
AUCPR: 0.6055522400632498
Gini: 0.8946945375768491

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.30741058592602366:

                0      1   Error              Rate
0      0  11296.0  314.0   0.027   (314.0/11610.0)
1      1    284.0  442.0  0.3912     (284.0/726.0)
2  Total  11580.0  756.0  0.0485   (598.0/12336.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.307411      0.596491  178.0
1                        max f2   0.142262      0.679398  256.0
2                  max f0point5   0.472019      0.605304  124.0
3                  max accuracy   0.472019      0.954199  124.0
4                 max precision   0.992129      1.000000    0.0
5                    max recall   0.001396      1.000000  392.0
6               max specificity   0.992129      1.000000    0.0
7              max absolute_mcc   0.307411      0.570848  178.0
8    max min_per_class_accuracy   0.079592      0.885357  297.0
9   max mean_per_class_accuracy   0.070985      0.887537  304.0
10                      max tns   0.992129  11610.000000    0.0
11                      max fns   0.992129    724.000000    0.0
12                      max fps   0.000176  11610.000000  399.0
13                      max tps   0.001396    726.000000  392.0
14                      max tnr   0.992129      1.000000    0.0
15                      max fnr   0.992129      0.997245    0.0
16                      max fpr   0.000176      1.000000  399.0
17                      max tpr   0.001396      1.000000  392.0

Gains/Lift Table: Avg response rate:  5.89 %, avg score:  5.88 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010052,0.779722,14.388163,14.388163,0.846774,0.866907,0.846774,0.866907,0.144628,0.144628,1338.816316,1338.816316,0.142992
1,2,0.020023,0.671127,11.465968,12.932981,0.674797,0.727034,0.761134,0.797254,0.114325,0.258953,1046.596788,1193.298089,0.253871
2,3,0.030075,0.545990,9.181018,11.678956,0.540323,0.603337,0.687332,0.732440,0.092287,0.351240,818.101840,1067.895569,0.341248
3,4,0.040045,0.444890,9.255661,11.075585,0.544715,0.495799,0.651822,0.673520,0.092287,0.443526,825.566082,1007.558470,0.428711
4,5,0.050016,0.373741,8.150507,10.492466,0.479675,0.404553,0.617504,0.619901,0.081267,0.524793,715.050729,949.246554,0.504466
5,6,0.100032,0.168209,4.709217,7.600841,0.277147,0.251504,0.447326,0.435702,0.235537,0.760331,370.921682,660.084118,0.701588
6,7,0.150049,0.087350,2.175603,5.792428,0.128039,0.123943,0.340897,0.331783,0.108815,0.869146,117.560309,479.242848,0.764064
7,8,0.200065,0.050242,0.991414,4.592175,0.058347,0.067077,0.270259,0.265606,0.049587,0.918733,-0.858593,359.217488,0.763608
8,9,0.300016,0.020431,0.344520,3.177055,0.020276,0.032589,0.186976,0.187976,0.034435,0.953168,-65.547981,217.705512,0.693995
9,10,0.400049,0.008641,0.179005,2.427391,0.010535,0.013895,0.142857,0.144447,0.017906,0.971074,-82.099468,142.739079,0.606733
10,11,0.500000,0.003324,0.137808,1.969697,0.008110,0.005617,0.115921,0.116694,0.013774,0.984848,-86.219193,96.969697,0.515167
11,12,0.600032,0.001514,0.137696,1.664281,0.008104,0.002225,0.097947,0.097611,0.013774,0.998623,-86.230360,66.428104,0.423515
12,13,0.699984,0.000868,0.013781,1.428605,0.000811,0.001143,0.084076,0.083836,0.001377,1.000000,-98.621919,42.860452,0.318777
13,14,0.800016,0.000535,0.000000,1.249975,0.000000,0.000682,0.073564,0.073439,0.000000,1.000000,-100.000000,24.997467,0.212489
14,15,0.899968,0.000320,0.000000,1.111151,0.000000,0.000422,0.065394,0.065329,0.000000,1.000000,-100.000000,11.115114,0.106288
15,16,1.000000,0.000042,0.000000,1.000000,0.000000,0.000215,0.058852,0.058816,0.000000,1.000000,-100.000000,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.950620,0.004798,0.955105,0.953921,0.952665,0.947770,0.943638
1,auc,0.947326,0.009465,0.940280,0.951720,0.960652,0.947226,0.936753
2,err,0.049380,0.004798,0.044895,0.046079,0.047335,0.052230,0.056362
3,err_count,121.600000,8.905055,113.000000,114.000000,119.000000,130.000000,132.000000
4,f0point5,0.586007,0.051292,0.641749,0.584677,0.603751,0.597345,0.502513
5,f1,0.605437,0.033917,0.616949,0.604167,0.633846,0.624278,0.547945
6,f2,0.628451,0.031667,0.593995,0.625000,0.667098,0.653753,0.602410
7,lift_top_group,14.416196,1.812310,14.182018,16.735882,12.978833,12.445000,15.739247
8,logloss,0.116840,0.008418,0.125300,0.107622,0.108684,0.124512,0.118085
9,max_per_class_error,0.353848,0.042830,0.420382,0.360294,0.308725,0.325000,0.354839
10,mcc,0.582060,0.033455,0.594602,0.580794,0.611143,0.598335,0.525426
11,mean_per_class_accuracy,0.807901,0.019234,0.779851,0.805952,0.830204,0.820755,0.802743
12,mean_per_class_error,0.192099,0.019234,0.220149,0.194048,0.169796,0.179245,0.197257
13,mse,0.033743,0.002249,0.035538,0.030880,0.032226,0.036296,0.033775
14,null_deviance,1104.753300,90.920456,1176.096800,1054.501300,1131.055400,1189.767100,972.345500
15,pr_auc,0.604741,0.039134,0.621031,0.626961,0.626104,0.614291,0.535320
16,precision,0.574770,0.065256,0.659420,0.572368,0.585227,0.580645,0.476190
17,r2,0.388591,0.036563,0.392350,0.405582,0.422008,0.396583,0.326431
18,recall,0.646152,0.042830,0.579618,0.639706,0.691275,0.675000,0.645161
19,residual_deviance,576.532900,45.289310,630.757930,532.515300,546.463300,619.819300,553.108600

See the whole table with table.as_data_frame()

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
generic prediction progress: |███████████████████████████████████████████████████| (done) 100%

0